@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: darksalmon;
    font-family: 'roboto', sans-serif;
}
*:focus{
    outline: none;
}
h1{
    
font-weight: 900;
color: black;
text-align: center;
}

form{
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin: 30px auto;
    margin-bottom: 60px;
      
}

input{
    display: flex;
    width: 100%;
    height: 60px;
    background-color:black;
    border: none;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
}

button.add{
    position: absolute;
    top: 0;
    right: 0;
    background-color:rgb(104, 73, 73);
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
    height: 61px;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
}
button.add:hover{
    color: white;
    background-color:rgb(104, 73, 73);
    
}

.ListaTarefas{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 600px;
    margin: auto;
}
.item{
    display: flex;
    background-color: black;
    justify-content: space-between;
    border: 1px solid;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.item:hover{
    background-color:rgb(104, 73, 73);
}

.item span {
    width: 100%;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
}

.item.completo {
    display: flex;
    justify-content: space-between;
    background-color:rgb(104, 73, 73);
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.4;
}
.item.completo span{
    width: 100%;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through;

}

button.del{
    background-color:rgb(104, 73, 73);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20%;

}

button.del:hover{
    background-color: darkred;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: white;

}
button.deleteall{
    border: 1px solid;
    background-color:black;
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
button.deleteall:hover{
background-color: darkred;
color: white;
}

.div1{
    text-align: center;
    max-width: 100%;
}

@media screen and (max-width:900px) {
    form{
        width: 100%;
    }

    .ListaTarefas{
        width: 100%;
    }

    .icone_central{
        max-width: 100%;
    }

    .div1{
        text-align: center;
    }
}
